<!DOCTYPE html>
<html>
  <head>
    <title>Startup Common Room</title>
    <meta property="og:title" content="❮SCR❯ - Startup Common Room" />
    <meta property="og:type" content="company" />
    <meta property="og:site_name" content="❮SCR❯ - Startup Common Room" />
    <meta property="og:description" content="<p>A community in the heart
    of Harvard Square.</p>" />
    <meta property="og:url" content="startupcommonroom.com" />
    <meta property="og:image" content="" />
  </head>
  <body>
    <!-- Begin LaunchRock Widget -->
    <div id="lr-widget" rel="FK2WTSW7"></div>
    <script type="text/javascript"
      src="//ignition.launchrock.com/ignition-current.min.js"></script>
    <!-- End LaunchRock Widget -->
  </body>
</html>
